CustomHooks/.gitignore
CustomHooks/eslint.config.js
CustomHooks/index.html
CustomHooks/package-lock.json
CustomHooks/package.json
CustomHooks/postcss.config.js
CustomHooks/README.md
CustomHooks/tailwind.config.js
CustomHooks/vite.config.js
CustomHooks/public/vite.svg
CustomHooks/src/App.css
CustomHooks/src/App.jsx
CustomHooks/src/index.css
CustomHooks/src/main.jsx
CustomHooks/src/Hooks/useCurrencyInfo.js
CustomHooks/src/assets/react.svg
node_modules/.package-lock.json
node_modules/.bin/esbuild
node_modules/.bin/esbuild.cmd
node_modules/.bin/esbuild.ps1
node_modules/.bin/nanoid
node_modules/.bin/nanoid.cmd
node_modules/.bin/nanoid.ps1
node_modules/.bin/rollup
node_modules/.bin/rollup.cmd
node_modules/.bin/rollup.ps1
node_modules/.bin/vite
node_modules/.bin/vite.cmd
node_modules/.bin/vite.ps1
node_modules/@esbuild/win32-x64/esbuild.exe
node_modules/@esbuild/win32-x64/package.json
node_modules/@esbuild/win32-x64/README.md
node_modules/@rollup/rollup-win32-x64-msvc/package.json
node_modules/@rollup/rollup-win32-x64-msvc/README.md
node_modules/@rollup/rollup-win32-x64-msvc/rollup.win32-x64-msvc.node
node_modules/@types/estree/flow.d.ts
node_modules/@types/estree/index.d.ts
node_modules/@types/estree/LICENSE
node_modules/@types/estree/package.json
node_modules/@types/estree/README.md
node_modules/esbuild/install.js
node_modules/esbuild/LICENSE.md
node_modules/esbuild/package.json
node_modules/esbuild/README.md
node_modules/esbuild/bin/esbuild
node_modules/esbuild/lib/main.d.ts
node_modules/esbuild/lib/main.js
node_modules/nanoid/index.browser.cjs
node_modules/nanoid/index.browser.js
node_modules/nanoid/index.cjs
node_modules/nanoid/index.d.cts
node_modules/nanoid/index.d.ts
node_modules/nanoid/index.js
node_modules/nanoid/LICENSE
node_modules/nanoid/nanoid.js
node_modules/nanoid/package.json
node_modules/nanoid/README.md
node_modules/nanoid/async/index.browser.cjs
node_modules/nanoid/async/index.browser.js
node_modules/nanoid/async/index.cjs
node_modules/nanoid/async/index.d.ts
node_modules/nanoid/async/index.js
node_modules/nanoid/async/index.native.js
node_modules/nanoid/async/package.json
node_modules/nanoid/bin/nanoid.cjs
node_modules/nanoid/non-secure/index.cjs
node_modules/nanoid/non-secure/index.d.ts
node_modules/nanoid/non-secure/index.js
node_modules/nanoid/non-secure/package.json
node_modules/nanoid/url-alphabet/index.cjs
node_modules/nanoid/url-alphabet/index.js
node_modules/nanoid/url-alphabet/package.json
node_modules/picocolors/LICENSE
node_modules/picocolors/package.json
node_modules/picocolors/picocolors.browser.js
node_modules/picocolors/picocolors.d.ts
node_modules/picocolors/picocolors.js
node_modules/picocolors/README.md
node_modules/picocolors/types.d.ts
node_modules/postcss/LICENSE
node_modules/postcss/package.json
node_modules/postcss/README.md
node_modules/postcss/lib/at-rule.d.ts
node_modules/postcss/lib/at-rule.js
node_modules/postcss/lib/comment.d.ts
node_modules/postcss/lib/comment.js
node_modules/postcss/lib/container.d.ts
node_modules/postcss/lib/container.js
node_modules/postcss/lib/css-syntax-error.d.ts
node_modules/postcss/lib/css-syntax-error.js
node_modules/postcss/lib/declaration.d.ts
node_modules/postcss/lib/declaration.js
node_modules/postcss/lib/document.d.ts
node_modules/postcss/lib/document.js
node_modules/postcss/lib/fromJSON.d.ts
node_modules/postcss/lib/fromJSON.js
node_modules/postcss/lib/input.d.ts
node_modules/postcss/lib/input.js
node_modules/postcss/lib/lazy-result.d.ts
node_modules/postcss/lib/lazy-result.js
node_modules/postcss/lib/list.d.ts
node_modules/postcss/lib/list.js
node_modules/postcss/lib/map-generator.js
node_modules/postcss/lib/no-work-result.d.ts
node_modules/postcss/lib/no-work-result.js
node_modules/postcss/lib/node.d.ts
node_modules/postcss/lib/node.js
node_modules/postcss/lib/parse.d.ts
node_modules/postcss/lib/parse.js
node_modules/postcss/lib/parser.js
node_modules/postcss/lib/postcss.d.mts
node_modules/postcss/lib/postcss.d.ts
node_modules/postcss/lib/postcss.js
node_modules/postcss/lib/postcss.mjs
node_modules/postcss/lib/previous-map.d.ts
node_modules/postcss/lib/previous-map.js
node_modules/postcss/lib/processor.d.ts
node_modules/postcss/lib/processor.js
node_modules/postcss/lib/result.d.ts
node_modules/postcss/lib/result.js
node_modules/postcss/lib/root.d.ts
node_modules/postcss/lib/root.js
node_modules/postcss/lib/rule.d.ts
node_modules/postcss/lib/rule.js
node_modules/postcss/lib/stringifier.d.ts
node_modules/postcss/lib/stringifier.js
node_modules/postcss/lib/stringify.d.ts
node_modules/postcss/lib/stringify.js
node_modules/postcss/lib/symbols.js
node_modules/postcss/lib/terminal-highlight.js
node_modules/postcss/lib/tokenize.js
node_modules/postcss/lib/warn-once.js
node_modules/postcss/lib/warning.d.ts
node_modules/postcss/lib/warning.js
node_modules/rollup/LICENSE.md
node_modules/rollup/package.json
node_modules/rollup/README.md
node_modules/rollup/dist/getLogFilter.d.ts
node_modules/rollup/dist/getLogFilter.js
node_modules/rollup/dist/loadConfigFile.d.ts
node_modules/rollup/dist/loadConfigFile.js
node_modules/rollup/dist/native.js
node_modules/rollup/dist/parseAst.d.ts
node_modules/rollup/dist/parseAst.js
node_modules/rollup/dist/rollup.d.ts
node_modules/rollup/dist/rollup.js
node_modules/rollup/dist/bin/rollup
node_modules/rollup/dist/es/getLogFilter.js
node_modules/rollup/dist/es/package.json
node_modules/rollup/dist/es/parseAst.js
node_modules/rollup/dist/es/rollup.js
node_modules/rollup/dist/es/shared/node-entry.js
node_modules/rollup/dist/es/shared/parseAst.js
node_modules/rollup/dist/es/shared/watch.js
node_modules/rollup/dist/shared/fsevents-importer.js
node_modules/rollup/dist/shared/index.js
node_modules/rollup/dist/shared/loadConfigFile.js
node_modules/rollup/dist/shared/parseAst.js
node_modules/rollup/dist/shared/rollup.js
node_modules/rollup/dist/shared/watch-cli.js
node_modules/rollup/dist/shared/watch.js
node_modules/source-map-js/LICENSE
node_modules/source-map-js/package.json
node_modules/source-map-js/README.md
node_modules/source-map-js/source-map.d.ts
node_modules/source-map-js/source-map.js
node_modules/source-map-js/lib/array-set.js
node_modules/source-map-js/lib/base64-vlq.js
node_modules/source-map-js/lib/base64.js
node_modules/source-map-js/lib/binary-search.js
node_modules/source-map-js/lib/mapping-list.js
node_modules/source-map-js/lib/quick-sort.js
node_modules/source-map-js/lib/source-map-consumer.d.ts
node_modules/source-map-js/lib/source-map-consumer.js
node_modules/source-map-js/lib/source-map-generator.d.ts
node_modules/source-map-js/lib/source-map-generator.js
node_modules/source-map-js/lib/source-node.d.ts
node_modules/source-map-js/lib/source-node.js
node_modules/source-map-js/lib/util.js
node_modules/vite/client.d.ts
node_modules/vite/index.cjs
node_modules/vite/index.d.cts
node_modules/vite/LICENSE.md
node_modules/vite/package.json
node_modules/vite/README.md
node_modules/vite/bin/openChrome.applescript
node_modules/vite/bin/vite.js
node_modules/vite/dist/client/client.mjs
node_modules/vite/dist/client/env.mjs
node_modules/vite/dist/node/cli.js
node_modules/vite/dist/node/constants.js
node_modules/vite/dist/node/index.d.ts
node_modules/vite/dist/node/index.js
node_modules/vite/dist/node/module-runner.d.ts
node_modules/vite/dist/node/module-runner.js
node_modules/vite/dist/node/moduleRunnerTransport.d-CXw_Ws6P.d.ts
node_modules/vite/dist/node/chunks/dep-3RmXg9uo.js
node_modules/vite/dist/node/chunks/dep-Ccxds025.js
node_modules/vite/dist/node/chunks/dep-CmNzPT96.js
node_modules/vite/dist/node/chunks/dep-CvfTChi5.js
node_modules/vite/dist/node/chunks/dep-glQox-ep.js
node_modules/vite/dist/node-cjs/publicUtils.cjs
node_modules/vite/misc/false.js
node_modules/vite/misc/true.js
node_modules/vite/types/customEvent.d.ts
node_modules/vite/types/hmrPayload.d.ts
node_modules/vite/types/hot.d.ts
node_modules/vite/types/import-meta.d.ts
node_modules/vite/types/importGlob.d.ts
node_modules/vite/types/importMeta.d.ts
node_modules/vite/types/metadata.d.ts
node_modules/vite/types/package.json
node_modules/vite/types/internal/cssPreprocessorOptions.d.ts
node_modules/vite/types/internal/lightningcssOptions.d.ts
practicePrpject/.gitignore
practicePrpject/eslint.config.js
practicePrpject/index.html
practicePrpject/package-lock.json
practicePrpject/package.json
practicePrpject/postcss.config.js
practicePrpject/README.md
practicePrpject/tailwind.config.js
practicePrpject/vite.config.js
practicePrpject/public/vite.svg
practicePrpject/src/App.css
practicePrpject/src/App.jsx
practicePrpject/src/index.css
practicePrpject/src/main.jsx
practicePrpject/src/Components/NoteContainer/notecontainer.css
practicePrpject/src/Components/NoteContainer/Notecontainer.jsx
practicePrpject/src/Components/Notes/notes.css
practicePrpject/src/Components/Notes/Notes.jsx
practicePrpject/src/Components/Sidebar/sidebar.css
practicePrpject/src/Components/Sidebar/sidebar.js
practicePrpject/src/assets/react.svg
SpecialProject/birthdayProject/.gitignore
SpecialProject/birthdayProject/eslint.config.js
SpecialProject/birthdayProject/index.html
SpecialProject/birthdayProject/package-lock.json
SpecialProject/birthdayProject/package.json
SpecialProject/birthdayProject/README.md
SpecialProject/birthdayProject/vite.config.js
SpecialProject/birthdayProject/public/vite.svg
SpecialProject/birthdayProject/src/App.css
SpecialProject/birthdayProject/src/App.jsx
SpecialProject/birthdayProject/src/index.css
SpecialProject/birthdayProject/src/main.jsx
SpecialProject/birthdayProject/src/Components/CssCode/Basic.css
SpecialProject/birthdayProject/src/Components/CssCode/Book.css
SpecialProject/birthdayProject/src/Components/CssCode/Login.css
SpecialProject/birthdayProject/src/Components/CssCode/Music.css
SpecialProject/birthdayProject/src/Components/CssCode/Navbar.css
SpecialProject/birthdayProject/src/Components/CssCode/PaperEffect.css
SpecialProject/birthdayProject/src/Components/CssCode/Review.css
SpecialProject/birthdayProject/src/Components/CssCode/Test.css
SpecialProject/birthdayProject/src/Components/CssCode/Type.css
SpecialProject/birthdayProject/src/Components/CssCode/Wishes.css
SpecialProject/birthdayProject/src/Components/ReactCode/Basic.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Book.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Login.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Music.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Navbar.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/PaperEffect.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Review.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Test.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Type.jsx
SpecialProject/birthdayProject/src/Components/ReactCode/Wishes.jsx
SpecialProject/birthdayProject/src/assets/react.svg
SpecialProject/birthdayProject/src/assets/images/coolImg.png
SpecialProject/birthdayProject/src/assets/images/img1.jpg
SpecialProject/birthdayProject/src/assets/images/img2.png
SpecialProject/birthdayProject/src/assets/images/img3.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran1.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran2.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran3.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran4.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran5.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran6.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran7.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran8.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran12.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran13.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran14.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran15.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran16.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran17.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran18.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran19.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran20.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran21.png
SpecialProject/birthdayProject/src/assets/images/kiran/kiran22.png
to_do_app/.gitignore
to_do_app/eslint.config.js
to_do_app/index.html
to_do_app/package-lock.json
to_do_app/package.json
to_do_app/README.md
to_do_app/vite.config.js
to_do_app/public/vite.svg
to_do_app/src/App.css
to_do_app/src/App.jsx
to_do_app/src/index.css
to_do_app/src/main.jsx
to_do_app/src/assets/react.svg
what.txt
tempCodeRunnerFile.cpp
sudoku.exe
sudoku.cpp
README.md
package.json
package-lock.json
